.carre {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.windows-color {
    cursor: pointer;
}

.red {
    background-color: #f25022;
}

.green {
    background-color: #7fba00;
}

.blue {
    background-color: #00a4ef ;
}

.yellow {
    background-color: #ffb900;
}
